<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iwangcn.qingkong">

    <!-- 权限 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".app.MobileApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- HomeActivity -->
        <!-- SplashActivity -->
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.activity.HomeActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.FavoriteActivity" />
        <activity android:name=".ui.activity.NewsDetailActivity" />
        <activity android:name=".ui.activity.NewsSearchActivity" />
        <activity android:name=".ui.activity.NewsListActivity" />
        <activity android:name=".ui.activity.ProcessedActivity" />
        <activity android:name=".ui.activity.FollowDetailActivity" />
        <activity android:name=".ui.activity.MessageListActivity" />
        <activity
            android:name=".ui.activity.TagEditActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.MoreTagEditActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".ui.activity.UpdateActivity" />
        <activity android:name=".ui.activity.BGABannerActivity" />
        <activity android:name=".ui.activity.TagFilterActivity" />
        <activity android:name=".ui.activity.MoreTagDeleteActivity" />
        <activity android:name=".ui.activity.PicActivity"></activity>

    </application>

</manifest>